.App {
  text-align: center;
}

body {
  height: 100%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  justify-content: center;
}

h1 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 10px;
  font-weight: lighter;
  font-weight: 200;
  font-size: 50px;
}

p {
  display: inline-block;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 25px;
  width: 50vw;
  text-align: center;
  font-weight: lighter;
}

.description {
  display: inline-block;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 50px;
  width: 100vw;
  text-align: center;
  font-weight: lighter;
}

html {
  height: 100vh;
}

#root {
  height: 100%;
}

img {
  height: 50vh;
  max-width: 100vw;
}

textarea {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  resize: none;
  border-color: pink;
  border-width: 3px;
  border-radius: 5px;
}

textarea:focus {
  border-color: rgb(239, 59, 89);
  outline: none;
  box-shadow: none;
}

.page-container {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: pink;
  padding: 10px 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  display: inline-block;
  outline: none;
  border: 0;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer; 
  padding: 25px;
}